video { display: block; }

html {
  background: url(rangeroos-frame1.jpg) #000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body {
  background: none;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

h1,h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: #fff;
}

h1{
  font-size: 80px;
}
h2 {
  font-size: 44px;
}
h3 {
  margin: 20px 0;
}

input {
  font-size: 15px !important;
  height: 40px !important;
}

textarea {
  font-size: 15px !important;
  resize: vertical;
}

/*video#bgvidfixedheight {
  height: auto;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  background: url(rangeroos-frame1.jpg) no-repeat;
  background-size: cover;
}*/
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(rangeroos-frame1.jpg) no-repeat;
    background-size: cover;
}
.video {
    background: #f4f4f4;
    margin: 0 0 1.25rem;
    overflow: hidden;
    position: relative;
}

/*#headerfixedheight {
  background-position: center center;
  background-size: cover;
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}*/

.video-embed {
  border-style: solid;
  border-color: #fff;
  border-width: 12px 0;
  margin: 30px -15px;
}
#logo {
  padding: 40px;
  max-width: 380px;
}

.well {
  border: none;
  background: rgba(255,255,255,0.8);
}

.well.error {
  background: rgba(255,154,154,0.8);
}

.well.success {
  background: rgba(84,230,123,0.8);
  text-align: center;
}

#footer {
  color: #fff;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}

#footer > span {
  white-space: nowrap;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
    html {
         background: url(rangeroos.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}
